<div class="container-fluid">
  <!-- Header con logo y menú -->
  <app-header></app-header>
  <!-- Sección Login -->
  <div class="hero-section text-center mt-4">
    <img src="assets/images/Image.png" alt="Skyline" class="hero-image img-fluid">
    <h1 class="display-4 mt-4">Experimenta el futuro con Webxkore</h1>
    <p class="lead">Desbloquea el potencial de la tecnología con nuestras soluciones innovadoras.</p>
    <a class="btn btn-primary btn-lg custom-btn" routerLink="/public/login" role="button">Sign up / Log in</a>
  </div>

  <!-- Sección de Servicios -->
  <div class="row text-center my-5">
    <div class="col-md-4">
      <div class="service-card">
        <img src="assets/images/IconCogs.png" alt="Icon 1" class="service-icon">
        <h5>Soluciones Tecnológicas Personalizadas</h5>
        <p>Proporcionando soluciones de vanguardia para tu negocio.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-card">
        <img src="assets/images/IconShieldAlt.png" alt="Icon 2" class="service-icon">
        <h5>Seguridad</h5>
        <p>Garantizando el más alto nivel de seguridad para tus datos.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-card">
        <img src="assets/images/IconUsers.png" alt="Icon 3" class="service-icon">
        <h5>Atención al Cliente</h5>
        <p>Soporte al cliente 24/7 para todas tus necesidades.</p>
      </div>
    </div>
  </div>

  <!-- Sección de Testimonios -->
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card">
        <img src="assets/images/Image(1).png" alt="Testimonial 1" class="card-img-top testimonial-image">
        <div class="card-body">
          <p class="card-text">"Webxkore transformó nuestro negocio con sus soluciones innovadoras".</p>
          <footer class="blockquote-footer">Alex Johnson</footer>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/images/Image(2).png" alt="Testimonial 2" class="card-img-top testimonial-image">
        <div class="card-body">
          <p class="card-text">"Soporte excepcional y servicio excelente. Altamente recomendable".</p>
          <footer class="blockquote-footer">Sarah Williams</footer>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/images/Image(3).png" alt="Testimonial 3" class="card-img-top testimonial-image">
        <div class="card-body">
          <p class="card-text">"Nuestra empresa de referencia para todas las soluciones tecnológicas".</p>
          <footer class="blockquote-footer">Michael Brown</footer>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="footer mt-5 py-4 bg-dark text-light">
  <div class="container-fluid d-flex justify-content-between align-items-center px-5">
    <!-- Información de Contacto -->
    <div>
      <h6>Información de Contacto</h6>
      <p>Email: <a href="mailto:contact@webxkore.com" class="text-light">contact@webxkore.com</a></p>
      <p>Teléfono: (123) 456-7890</p>
      <p><a routerLink="/public/contact" class="text-light">Formulario de contacto</a></p>
    </div>

    <!-- Redes Sociales -->
    <div class="social-icons">
      <h6>Síguenos</h6>
      <div>
        <a href="#" class="text-light mx-2"><i class="bi bi-facebook" aria-hidden="true"></i></a>
        <a href="#" class="text-light mx-2"><i class="bi bi-twitter" aria-hidden="true"></i></a>
        <a href="#" class="text-light mx-2"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
