/* register.component.css */
.container {
  height: 100vh;
}

.register-box {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  height: 45px;
}

.btn {
  border-radius: 5px;
  height: 45px;
}

a {
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.register-box {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* register.component.css */
.btn-primary {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: white; /* Asegura que el texto sea blanco */
}

.btn-primary:hover {
  background-color: #7CB342; /* Un tono más oscuro al hacer hover */
  border-color: #7CB342;
}
